# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Softuni Java\JavaScriptAdv\IntelliJ-JS\js-advanced\14. JS-Applications-Single-Page-Applications\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
